/* FOOTER */
ol,
ul,
a,
p {
  list-style: none;
  text-decoration: none;
}


.footer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer-list {
  padding: 1rem;
  display: flex;
  flex-direction: row;
  align-content: center;
  gap: 4rem;
}

.footer-item {
  color: $rosely8;
  transition: all 0.3s;
  transition: all 0.3s ease;
}

.footer-text {
  padding: 0.5rem;
  opacity: 0.5;
}

.footer-svg {
  padding-left: 0.5rem;
  opacity: 0.5;
  filter: invert(47%) sepia(10%) saturate(821%) hue-rotate(267deg)
    brightness(89%) contrast(92%);
}

.footer-svg:hover {
  opacity: 0.9;
}
