/*  FORM  */
.form {
  &__input {
    resize: none;
    border: none;
    border-radius: 1rem;
    font-size: 1.4rem;
    padding: 1.4rem;
    box-shadow: $inner-shadow;
    background: none;
    font-family: inherit;
    color: $greyDark;
    overflow: auto;
    outline: none;

    &::placeholder {
      color: $greyLight-3;
    }
    &:focus {
      outline: none;
    }
  }
}
