.keyborad-container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 0.7rem;
  margin: 0 3rem;
}
.line-container {
  width: 80rem;
  display: flex;
  flex-direction: row;
  gap: 0.7rem;
}
.btn {
  width: 4rem;
  height: 4rem;
  border-radius: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: $shadow;
  justify-self: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 1.6rem;
  flex-grow: 0;
  color: $rosely2;
  &:hover {
    color: $primary;
    font-weight: bolder;
  }
  &:active {
    box-shadow: $inner-shadow;
  }
}
.btn--active {
  box-shadow: $inner-shadow;
  color: $primary;
  font-weight: bolder;
}
.btn--Func {
  font-size: 1.2rem;
  font-weight: bold;
  word-spacing: 0.5;
  background-color: $rosely9;
  color: lighten($rosely2, 15%);

  box-shadow: 0.3rem 0.3rem 0.6rem $roselyA, -0.2rem -0.2rem 0.5rem $white;
  &:hover {
    color: $rosely3;
  }
  &:active {
    box-shadow: inset 0.2rem 0.2rem 0.5rem darken($rosely9, 20%),
      inset -0.2rem -0.2rem 0.5rem lighten($rosely9, 20%);
  }
}
.btn--Func.btn--active {
  color: $rosely3;
  box-shadow: inset 0.2rem 0.2rem 0.5rem darken($rosely9, 20%),
    inset -0.2rem -0.2rem 0.5rem lighten($rosely9, 20%);
}
.material-symbols-outlined {
  font-size: calc(2 * min(16px, 1vw));
}
.capsed {
  background-color: $roselyB;
  color: $rosely2;
}
.capsed.btn--Func:active {
  box-shadow: inset 0.2rem 0.2rem 0.5rem darken($roselyB, 20%),
    inset -0.2rem -0.2rem 0.5rem lighten($roselyB, 10%);
}
.btn.btn--Arrow {
  font-family: "Inter", sans-serif;
}

big {
  font-size: 2rem;
}
