@font-face {
  font-family: "Iconic Poopies";
  src: url("../assets/fonts/IconicPoopies.eot");
  src: url("../assets/fonts/IconicPoopies.eot?#iefix")
      format("embedded-opentype"),
    url("../assets/fonts/IconicPoopies.woff2") format("woff2"),
    url("../assets/fonts/IconicPoopies.woff") format("woff"),
    url("../assets/fonts/IconicPoopies.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "fb_nyan";
  src: url("../assets/fonts/Fbnyan.eot");
  src: url("../assets/fonts/Fbnyan.eot?#iefix") format("embedded-opentype"),
    url("../assets/fonts/Fbnyan.woff2") format("woff2"),
    url("../assets/fonts/Fbnyan.woff") format("woff"),
    url("../assets/fonts/Fbnyan.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
.btn--kitty,
.btn--key.kitty {
  font-family: "fb_nyan";
  font-weight: normal;
  font-style: normal;
}

.btn--poopies,
.btn--key.poopies {
  font-family: "Iconic Poopies";
  font-weight: normal;
  font-style: normal;
}

.btn--poopies,
.btn--key.poopies {
  font-size: 2rem;
  color: $rosely1;
  background-color: $greyLight-1;
  &:hover {
    color: $primary;
    font-weight: normal;
    transform: scale(2);
    font-size: 4rem;
  }
}

.poopies.btn--active {
  color: $primary;
  font-weight: normal;
  transform: scale(2);
  font-size: 4rem;
  box-shadow: $inner-shadow;
}

.btn--key.kitty {
  font-size: 2rem;
  background-color: $greyLight-1;
  &:hover {
    color: $primary;
    font-weight: normal;
    transform: scale(1.5);
    font-size: 3rem;
  }
}
.kitty.btn--active {
  color: $primary;
  font-weight: normal;
  transform: scale(1.5);
  box-shadow: $inner-shadow;
}

.btn--poopies {
  font-size: 4rem;
  &:hover {
    font-weight: normal;
    transform: scale(1);
    font-size: 4rem;
  }
}

textarea.poopies {
  font-family: "Iconic Poopies";
  font-weight: normal;
  font-style: normal;
  font-size: 5rem;
}

#poopies.btn,
#kitty.btn,
#letters.btn {
  background-color: $rosely6;
  color: $rosely4;
  &:hover {
    color: $white;
  }
}

#poopies.btn--active,
#kitty.btn--active,
#letters.btn--active,
#poopies.btn--magic,
#kitty.btn--magic,
#letters.btn--magic {
  background-color: $roselyA;
  color: $white;
  box-shadow: inset 0.2rem 0.2rem 0.5rem darken($roselyA, 20%),
    inset -0.2rem -0.2rem 0.5rem lighten($roselyA, 20%);
}

.btn--kitty {
  font-size: 2rem;
  &:hover {
    font-weight: normal;
    transform: scale(1);
    font-size: 2rem;
  }
}

textarea.kitty {
  font-family: "fb_nyan";
  font-weight: normal;
  font-style: normal;
  font-size: 3rem;
}
