@import "./_vars.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: min(16px, 1vw);
  overflow-y: scroll;
  background: $greyLight-1;

  font-family: "Overpass Mono", monospace;
}

.container {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: $greyLight-1;
}

.components {
  //width: 75rem;
  //height: 40rem;
  border-radius: 3rem;
  box-shadow: 0.8rem 0.8rem 1.4rem $greyLight-2, -0.2rem -0.2rem 1.8rem $white;
  padding: 4rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  //justify-content: space-between;
  gap: 4rem;
}
